body {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: white;
  background-color: #1e1f22;
}

main {
  height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

label {
  font-size: 0.75rem;
  font-weight: 300;
  display: block;
  margin-top: 1rem;
  color: lightgray;
}

input {
  display: block;
  width: 100%;
}

form {
  line-height: 2.5rem;
}

.container {
  overflow: hidden;
}

.logo {
  font-size: 1.3rem;
  font-family: Pattaya, sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.carousel-container {
  justify-content: center;
  position: relative;
}

.carousel {
  z-index: 1;
}

.navbar {
  color: white;
  background-color: #1c1d20;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.25rem;
}

.shopping-cart {
  font-size: 1rem;
}

.tab {
  font-size: 1.5rem;
}

.tabs {
  position: absolute;
  bottom: 1.25rem;
  z-index: 1;
}

.products-container {
  padding: 1rem;
}

.best-sellers {
  font-weight: 300;
  display: inline-block;
}

.game-container {
  margin: 1.25rem 0;
  border: 1px solid #5c5c5c;
  align-items: center;
}

.game-img-container {
  justify-content: center;
  align-items: center;
}

.game-img {
  width: 100%;
  object-fit: cover;
  max-height: 6rem;
}

.game-text {
  padding-left: 0.25rem;
  line-height: 1rem;
  margin-left: 0.5rem;
}

.full-width {
  width: 100%;
}

.game-features {
  font-size: 0.55rem;
  font-weight: 200;
}

.game-title {
  font-weight: 400;
  font-size: 0.75rem;
}

.game-support {
  font-size: 0.5rem;
  letter-spacing: 0.2rem;
}

.price {
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
}

.bg-carousel-container {
  margin-top: 3.75rem;
  position: absolute;
  opacity: 0.5;
  width: 45rem;
  justify-content: space-between;
}

.bg-carousel {
  width: 30%;
  height: 30%;
}

.arrows-container {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.arrows {
  font-size: 1.5rem;
}

.left-arrow {
  margin-right: 30rem;
}

.custom-column {
  flex-basis: 49%;
}

.best-sellers-container {
  margin-top: 1rem;
}

.gray {
  color: gray;
}

.white {
  color: white;
}

.ss-carousel {
  object-fit: cover;
  width: 100%;
  height: 13.5rem;
}

.detail-text-container {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  line-height: 2rem;
}

.detail-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
}

.detail-description {
  margin-top: 1.5rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

.detail-extra {
  margin-top: 2rem;
  line-height: 1.5rem;
}

.label {
  font-weight: 400;
  font-size: 0.85rem;
}

.value {
  padding-left: 0.25rem;
  font-weight: 300;
  font-size: 0.85rem;
}

.supported-icons {
  position: relative;
  top: 2px;
}

.detail-price-container {
  margin-top: 3.5rem;
  text-align: center;
}

.detail-price {
  font-weight: 300;
  font-size: 1.75rem;
}

.add-to-cart-container {
  text-align: center;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  width: 7rem;
  background-color: #343a40;
}

.add-to-cart {
  font-size: 0.8rem;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.side-padding {
  padding: 0 2.5rem;
}

.logo-text {
  color: white;
  text-decoration: none;
}

.black {
  position: fixed;
  width: 100%;
  height: 100vh;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.35s;
}

.cart-container {
  width: 65%;
  height: 100%;
  background-color: #1e1f22;
  position: fixed;
  right: 0;
  z-index: 4;
  transform: translateX(50rem);
  transition: transform 0.35s;
}

.black-on {
  z-index: 3;
  opacity: 0.8;
}

.cart-on {
  transform: translateX(0);
}

.cart-text-container {
  padding: 0.75rem 0 0.5rem;
  text-align: center;
  border-bottom: 1px solid;
}

.cart-text {
  font-size: 0.85rem;
}

.cart-game {
  padding-top: 1rem;
  border-bottom: 1px solid #5c5c5c;
  align-items: center;
}

.cart-game-img-container {
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
}

.cart-game-img {
  width: 90%;
}

.cart-game-title {
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
}

.quantity-container {
  font-size: 0.5rem;
  font-weight: 200;
}

.quantity-text {
  padding-right: 0.5rem;
}

.quantity-buttons {
  display: inline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.25rem;
}

.cart-game-price {
  font-size: 0.75rem;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.checkout-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.5rem;
}

.subtotal-container {
  justify-content: space-around;
  font-size: 1.15rem;
}

.checkout-btn-container {
  margin-top: 1.75rem;
  text-align: center;
}

.checkout-btn {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 0.25rem;
}

.carousel-anchor {
  z-index: 1;
}

.checkout-cart-container {
  padding: 1.5rem;
  height: 100vh;
}

.checkout-cart-text-container {
  width: 3rem;
  border-bottom: 1px solid;
  justify-content: center;
  padding-bottom: 0.15rem;
}

.checkout-page-text {
  font-size: 0.7rem;
}

.checkouts-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 3rem;
}

.total-container {
  justify-content: space-between;
  border: 1px solid;
  width: 15rem;
  padding: 0.5rem;
  margin: auto;
}

.page-checkout-btn-container {
  margin-top: 1.5rem;
  justify-content: center;
}

.page-checkout-btn {
  background-color: white;
  color: black;
  padding: 0.45rem;
  border-radius: 2px;
  font-weight: 600;
}

.user-info {
  margin-top: 3rem;
  width: 100%;
  padding: 0 4rem;
}

.continue-container {
  margin-top: 1.5rem;
  justify-content: center;
}

.continue {
  background-color: white;
  border: none;
  padding: 0.3rem 0.45rem;
  border-radius: 2px;
  font-weight: 600;
  font-size: 0.95rem;
}

.receipt-game-container {
  justify-content: space-between;
}

.receipt-game-title,
.receipt-game-price {
  font-weight: 300;
}

.form-total-container {
  margin-top: 1.5rem;
}

.form-total {
  justify-content: space-between;
  border-bottom: 1px solid;
}

.receipt {
  margin-top: 1.25rem;
}

.test {
  width: 100%;
  height: 50rem;
}

.form-container {
  margin-top: 0.5rem;
  padding: 0 1.55rem;
}

.final-checkout-btn-container {
  margin-top: 1.25rem;
  text-align: center;
}

.final-checkout-btn {
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}

.confirmation-container {
  padding: 1rem;
}

.thank-you {
  font-weight: 600;
}

.message {
  margin-top: 0.5rem;
  font-weight: 300;
  line-height: 1.75rem;
}

.plus {
  font-size: 0.55rem;
}

.minus {
  font-size: 0.55rem;
}

.button-icon {
  width: 1rem;
  height: 1rem;
  position: relative;
  border: none;
  color: white;
  background-color: transparent;
}

.loader {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 15rem;
}

.error {
  font-weight: 300;
  text-align: center;
  margin-top: 2rem;
}

@media only screen and (min-width: 575px) {
  .logo {
    font-size: 1.75rem;
  }

  .shopping-cart {
    font-size: 1.25rem;
  }

  .game-text {
    line-height: 1.5rem;
  }

  .game-title {
    font-size: 0.85rem;
  }

  .game-features {
    font-size: 0.7rem;
  }

  .game-support {
    font-size: 0.6rem;
  }

  .detail-title {
    font-size: 2rem;
  }

  .detail-description {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .label {
    font-size: 1rem;
  }

  .value {
    font-size: 1rem;
  }

  .detail-price {
    font-size: 2rem;
  }

  .detail-extra {
    line-height: 2rem;
  }

  .add-to-cart-container {
    width: 9rem;
  }

  .add-to-cart {
    font-size: 1rem;
  }

  .cart-container {
    width: 50%;
  }

  .cart-game-title {
    font-size: 0.85rem;
  }

  .checkout-page-text {
    font-size: 0.75rem;
  }

  .checkout-game-title {
    font-size: 1rem;
  }

  .checkout-game-qnty {
    font-size: 0.75rem;
  }

  .checkout-qnty-btns {
    font-size: 0.75rem;
  }

  .checkout-game-price {
    font-size: 1rem;
  }

  .total-container {
    width: 18rem;
    padding: 0.75rem;
  }

  .checkout-total-text {
    font-size: 1.25rem;
  }

  .checkout-total-value {
    font-size: 1.25rem;
  }

  .page-checkout-btn-container {
    margin-top: 2rem;
    justify-content: center;
  }

  .page-checkout-btn {
    font-size: 1.25rem;
    padding: 0.5rem;
  }

  .user-info {
    margin-top: 7rem;
  }

  .checkingout-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-checkout {
    flex-basis: 45%;
  }

  .right-checkout {
    flex-basis: 45%;
  }

  .plus {
    font-size: 0.6rem;
  }

  .minus {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 768px) {
  .scrollfix {
    overflow-y: scroll;
    height: 100%;
  }

  .detail-title {
    text-align: left;
    text-decoration: underline;
  }

  .product-list {
    flex-wrap: wrap;
  }

  .best-sellers {
    font-size: 1.25rem;
  }

  .game-container {
    margin: 1.75rem auto;
    height: 6.5rem;
  }

  .game-text {
    line-height: 1.75rem;
  }

  .game-title {
    font-size: 1rem;
  }

  .game-features {
    font-size: 0.75rem;
  }

  .game-support {
    font-size: 0.75rem;
    letter-spacing: 0.3rem;
  }

  .price {
    font-size: 0.9rem;
  }

  .tab {
    font-size: 1.75rem;
  }

  .logo {
    font-size: 1.75rem;
  }

  .shopping-cart {
    font-size: 1.25rem;
  }

  .detail-text-container {
    width: 50%;
    max-height: 100vh;
    position: sticky;
    top: 0;
  }

  .screenshot-container {
    width: 48%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
  }

  .screenshot {
    box-sizing: content-box;
    object-fit: cover;
    width: 95%;
    height: 18rem;
    padding: 2rem 0;
  }

  .detail-price-container {
    margin-top: 2rem;
  }

  .detail-description {
    margin-top: 5rem;
  }

  .detail-extra {
    margin-top: 7rem;
  }

  .cart-container {
    width: 40%;
  }

  .quantity-container {
    font-size: 0.7rem;
  }

  .cart-game-price {
    font-size: 1rem;
  }

  .checkouts-container {
    position: initial;
    margin-bottom: 0;
  }

  .checkout-cart-container {
    display: flex;
    justify-content: space-around;
  }

  .left {
    flex-basis: 50%;
  }

  .right {
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .checkout-game {
    border: 1px solid #5c5c5c;
    margin-top: 1.25rem;
  }

  .checkout-page-text {
    font-size: 1rem;
  }

  .checkout-cart-text-container {
    width: 3.5rem;
  }

  .receipt-game-title,
  .receipt-game-price,
  .final-checkout-total-text,
  .final-checkout-total-value {
    font-size: 1.1rem;
  }

  .continue {
    font-size: 1.2rem;
  }

  .final-checkout-btn {
    font-size: 1.15rem;
  }

  .thank-you {
    font-size: 1.75rem;
  }

  .message {
    font-size: 1.25rem;
  }

  .confirmation-container {
    padding: 1.5rem;
  }

  .plus {
    font-size: 0.6rem;
  }

  .minus {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    font-size: 2rem;
  }

  .shopping-cart {
    font-size: 1.75rem;
  }

  .best-sellers {
    font-size: 1.25rem;
  }

  .detail-price-container {
    margin-top: 3rem;
  }

  .detail-description {
    margin-top: 6rem;
  }

  .detail-extra {
    margin-top: 8rem;
  }

  .cart-container {
    width: 30%;
  }

  .cart-game-title {
    font-size: 1rem;
  }

  .quantity-container {
    font-size: 0.8rem;
  }

  .receipt-game-title,
  .receipt-game-price,
  .final-checkout-total-text,
  .final-checkout-total-value {
    font-size: 1.25rem;
  }

  .total-container {
    width: 22rem;
  }

  .checkout-total-text,
  .checkout-total-value,
  .page-checkout-btn {
    font-size: 1.5rem;
  }

  .plus {
    font-size: 0.65rem;
  }

  .minus {
    font-size: 0.65rem;
  }
}

@media only screen and (min-width: 1100px) {
  .custom-column {
    flex-basis: 45%;
  }
}

.shopping-cart:hover,
.arrows:hover,
.carousel:hover,
.tabs:hover,
.game-container:hover,
.logo:hover,
.add-to-cart-container:hover,
.continue:hover,
.final-checkout-btn:hover,
.button-icon:hover {
  cursor: pointer;
}
