body {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: white;
}

main {
  background-color: #1e1f22;
  height: 100vh;
}

.logo {
  font-size: 1.5rem;
  font-family: Pattaya, sans-serif;
  letter-spacing: 1px;
}

.carousel-container {
  justify-content: center;
  position: relative;
}

.carousel {
  z-index: 1;
}

.navbar {
  color: white;
  background-color: #1c1d20;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.5rem;
}

.shopping-cart {
  font-size: 1rem;
}

.circle {
  font-size: 0.75rem;
  color: white;
  bottom: 1.5rem;
  padding: 0 0.25rem;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 1.25rem;
  z-index: 1;
}

.product-list {
  padding: 1rem;
}

.best-sellers {
  font-weight: 300;
}

.game-container {
  margin: 1.25rem 0;
  height: 4.75rem;
  border: 1px solid #5c5c5c;
}

.game-img {
  width: 100%;
  object-fit: cover;
}

.game-img-container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.game-text-container {
  padding-top: 0.15rem;
  padding-left: 0.5rem;
  height: 100%;
  line-height: 1.3rem;
}

.game-title {
  font-weight: 400;
}

.game-features {
  font-size: 0.6rem;
  font-weight: 200;
}

.kbm-container {
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
}

.price {
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
}

.bg-carousel {
  margin-top: 3.75rem;
  position: absolute;
  opacity: 0.5;
  width: 80%;
  justify-content: space-between;
}

.prev-carousel {
  width: 30%;
  height: 30%;
}

.next-carousel {
  width: 30%;
  height: 30%;
}

.arrows-container {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.arrows {
  font-size: 1.5rem;
}

.left-arrow {
  margin-right: 30rem;
}

@media only screen and (min-width: 768px) {
  .best-sellers {
    font-size: 1.5rem;
  }

  .game-container {
    margin: 1.75rem 0;
    height: 6.5rem;
  }

  .game-text-container {
    line-height: 2rem;
  }

  .game-title {
    font-size: 1.5rem;
  }

  .game-features {
    font-size: 0.9rem;
  }

  .kbm-container {
    font-size: 0.9rem;
    letter-spacing: 0.3rem;
  }

  .price {
    font-size: 1.2rem;
  }

  .circle {
    font-size: 1rem;
  }

  .logo {
    font-size: 2rem;
  }

  .shopping-cart {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    font-size: 2.5rem;
  }

  .shopping-cart {
    font-size: 1.75rem;
  }

  .best-sellers {
    font-size: 1.75rem;
  }

  .circle {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1100px) {
  .carousel {
    width: 45%;
  }

  .arrows-container {
    margin-top: 7.5rem;
  }

  .left-arrow {
    margin-right: 40rem;
  }

  .bg-carousel {
    width: 70%;
  }
}
