body {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: white;
}

main {
  background-color: #1e1f22;
  height: 100vh;
}

.logo {
  font-size: 1.5rem;
  font-family: Pattaya, sans-serif;
  letter-spacing: 1px;
}

.carousel-container {
  justify-content: center;
  position: relative;
}

.carousel {
  width: 100%;
}

.navbar {
  color: white;
  background-color: #1c1d20;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.5rem;
}

.shopping-cart {
  font-size: 1rem;
}

.circle {
  font-size: 0.75rem;
  color: white;
  bottom: 1.5rem;
  padding: 0 0.25rem;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 1.25rem;
}

.product-list {
  padding: 1rem;
}

.best-sellers {
  font-weight: 300;
}

.game-container {
  margin: 1.25rem 0;
  height: 4.75rem;
  border: 1px solid #5c5c5c;
}

.game-img {
  width: 7rem;
  object-fit: cover;
}

.game-img-container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.game-text-container {
  width: 10rem;
  padding-top: 0.15rem;
  height: 100%;
  line-height: 1.3rem;
}

.game-title {
  font-weight: 400;
}

.game-features {
  font-size: 0.5rem;
  font-weight: 200;
}

.kbm-container {
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
}

.price {
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
}
